h1 {
    color: navy;
    font-size: 4vw;

}
h2 {
    color: black;
    font-size: 3vw;
}
h3 {
    color: black;
    font-size: 2vw;
}
h6 {
   color: black;
    margin-left: 5px;
}
a:link, a:visited {
    background-color: lightblue;
    color: navy;
    padding: 5px 5px;
    margin: 5px;
    text-align: left;
    border-radius: 5px;
    font-size: 125%;
    text-decoration: none;
    display: inline-block;
    border: 3px solid navy;
}

a:hover, a:active {
    color: white;
    background-color: navy;
    text-decoration: bold;
}
input[type=text] {
    width: 500px;
    font-size: 2vw;
    background-color: #f9a61a;
    color: #3e8ede;
    padding: 5px 5px;
    margin: 5px 0;
    border: 3px solid #3e8ede;
    border-radius: 5px;
    box-sizing: border-box;
}
